.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Image Effect - reference - https://codepen.io/nxworld/pen/ZYNOBZ */

figure {
  margin: 0;
  padding: 0;
  height: max-content;
  background: #50453b;
  overflow: hidden;
  box-shadow: #fbe0ca 0px 0px 10px 6px;
}

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  object-fit: cover;
}

.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.clip-div {
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
  padding-bottom: 5px;
  padding-top: calc(5px + 2vmin);;
  background-color: #50453ba8;
  color: #ffffffe8;
  position: absolute;
  bottom: 0px;
  z-index: 100;
  width: 100%;
  font-size: calc(10px + 2vmin);
  font-family: cursive;
}
.reverse {
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}

.svg-divider {
  fill: #fff0e4;
  height: 35px;
  text-align: center;
}

.ashram-text {
  color: #50453b;
  padding: 10px;
  text-align: left;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255 255 255 / 0%) 0%, rgb(255 255 255) 65px);
  font-size: 13px;
  font-weight: bold;
  width: calc(100% - 20px);
  cursor: pointer;
}

.iframe-header {
  padding: 10px 20px;
  background: #3a3a3a;
  color: white;
  border-radius: 12px 12px 0px 0px;
  display: flex;
  align-items: center;
}

.spotify-remove-border-radius {
  width: 100%;
  background-color: #282828;
  height: 355px;
  position: absolute;
  z-index: -1;
}

.follow-logo {
  background-color: #ffffffba;
  width: 25%;
  padding: 20px 5px;
  border-radius: 25px;
  font-size: 20px;
  transition: scale 0.3s;
  cursor: pointer;
}

.follow-logo:hover {
  background-color: #ffffff;
  scale: 1.05;
}

.btn-primary {
  background-color: #50453b !important;
  border-color: #2f2822 !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.prime-music {
    width: max-content;
    padding: 7px 20px;
    margin-bottom: 0px;
    background: rgb(46, 28, 130);
    background: linear-gradient(0deg, rgba(46, 28, 130, 1) 0%, rgba(66, 0, 252, 1) 50%);
    color: white;
    border-radius: 12px;
}